@model List<MemeberTracker.Models.Person>

@section controllers 
{ 
       @Scripts.Render("~/bundles/maincontroller")
}

<div ng-controller="MainCtrl">
<span class="icon-search pull-right"></span>
{{title}}
</div>
     
     



     