@model List<MemberTracker.Models.Person>

@section controllers 
{ 
       @Scripts.Render("~/bundles/mainindexcontrollers")
}

<div ng-controller="MainController">
<span class="icon-search pull-right"></span>
{{title}}
</div>
     
     



     